.statistics {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: antiquewhite;
    font-size: 20px;
}

.title {
    text-align: center;
    margin: 0;
}

.statslist {
    display: flex;
    list-style-type: none;
    padding: 0; 
}
.item {
    display: flex;
    width: 65px;
    flex-direction: column;
    text-align: center;
}